/* ===================
   TABLET
=================== */

@media(max-width:992px){

.hero-content,
.about-content,
.why-content,
.contact-wrapper{
grid-template-columns:1fr;
}

.services-grid,
.projects-grid,
.testimonial-grid{
grid-template-columns:repeat(2,1fr);
}

.process-grid{
grid-template-columns:repeat(2,1fr);
}

.footer-grid{
grid-template-columns:repeat(2,1fr);
}

.stats-grid,
.trust-grid{
grid-template-columns:repeat(2,1fr);
}

}

/* ===================
   MOBILE
=================== */

@media(max-width:768px){

.hero h1{
font-size:2.5rem;
}

.about h2,
.section-header h2,
.why-left h2,
.cta h2{
font-size:2rem;
}

.services-grid,
.projects-grid,
.testimonial-grid,
.process-grid,
.footer-grid,
.stats-grid,
.trust-grid{
grid-template-columns:1fr;
}

.nav-menu{
display:none;
}

.nav-btn{
display:none;
}

.contact-wrapper{
grid-template-columns:1fr;
}

.about-features{
grid-template-columns:1fr;
}

}